// ========================================================================== //
//  DEPENDENCIES
// ========================================================================== //

// Fonts
@import 'https://fonts.googleapis.com/css2?family=Caveat:wght@400&family=Karla:wght@300;500;700&family=Poppins:wght@300;400;500&display=swap';

// Partials
@import 'partials/animations';

// ========================================================================== //
//  TAILWIND
// --------------------------------------------------------------------------
//  In order to mute "Unknown at rule" warnings, you have to set your
//  editor's CSS/SCSS linting settings to ignore them. You can do this in
//  VS Code by going to "Settings", searching for "unknownAtRules", and
//  changing "warning" to "ignore" in the dropdown.
// ========================================================================== //

// Directives
@tailwind base;
@tailwind utilities;
@tailwind variants;
@tailwind components;

// Layers
@layer base {
    * {
        @apply font-karla font-light;
    }

    section {
        @screen md-max {
            @apply py-4;
        }
        @screen lg {
            @apply py-8;
        }
    }

    nav {
        @apply font-poppins font-medium;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @apply mb-2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-poppins;

        span {
            @apply font-poppins;
        }
    }

    h1 {
        @apply relative inline-block pb-2 font-medium text-white sm-max:text-40 sm-max:leading-tight md:text-48;

        &::after {
            @apply bg-green-light;

            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            max-width: 70px;
            height: 3px;
        }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-normal;
    }

    h2 {
        @apply text-green-light sm-max:text-36 md:text-40;
    }

    h3 {
        @apply text-32 text-orange-light;
    }

    h4 {
        @apply text-24;
    }

    h5 {
        @apply text-22;
    }

    h6 {
        @apply text-20;
    }

    p,
    ul,
    ol,
    label,
    input[type='text'],
    input[type='email'],
    select,
    textarea,
    [class*='cta'] {
        @apply text-20;
    }

    p,
    ul:not(.nav-list, .app-list) li,
    ol li {
        a {
            @apply font-bold text-blue-light underline underline-offset-2;
        }
    }

    p {
        &:last-of-type {
            @apply mb-0;
        }
    }

    a {
        @apply inline-block;
    }

    ul,
    ol {
        @apply mb-3 px-3;

        & + p {
            @apply mt-3;
        }

        ul {
            @apply list-circle mb-0 mt-3;
        }

        li {
            @apply mb-3;

            &:last-of-type {
                @apply mb-0;
            }
        }
    }

    ul {
        @apply list-disc;

        & + ol {
            &:last-of-type {
                @apply mb-0;
            }
        }
    }

    ol {
        @apply list-decimal;

        & + ul {
            &:last-of-type {
                @apply mb-0;
            }
        }
    }

    input[type='text'],
    input[type='email'],
    select,
    textarea {
        @apply block w-full rounded-lg border border-gray-dark px-2 py-1;
    }

    input[type='text'],
    input[type='email'],
    textarea {
        &::placeholder {
            @apply text-gray-dark;
        }
    }

    hr {
        @apply mb-3 border-b-[1px] border-t-2 border-green-light;
    }
}

// Extend pre-existing utility classes
@layer utilities {
    .container {
        @apply mx-auto px-2;
    }

    .list {
        &-none {
            @apply mb-0 px-0;

            li {
                @apply mb-0;
            }
        }

        &-alpha {
            list-style-type: lower-alpha;
        }

        &-circle {
            list-style-type: circle;
        }
    }
}

// Variants
// @layer variants {
// }

// Components
@layer components {
    .cta {
        &-group {
            @apply mt-3;

            [class*='cta'] {
                &:not(:first-of-type) {
                    @apply xs-max:mt-2 sm:ml-2;
                }
            }
        }

        &-primary,
        &-secondary,
        &-tertiary,
        &-tertiary-outline {
            @apply rounded-lg border px-2 py-1 transition-all duration-300 xs-max:flex xs-max:w-full xs-max:items-center xs-max:justify-center;
        }

        &-primary {
            @apply border-blue-light bg-blue-light text-white;

            &:hover {
                @apply lg:border-blue-light lg:bg-blue-lighter;
            }
        }

        &-secondary {
            @apply border-green-light bg-green-light text-white;

            &:hover {
                @apply lg:border-green-light lg:bg-green-lighter;
            }
        }

        &-tertiary {
            @apply border-orange-light bg-orange-light text-white;

            &:hover {
                @apply lg:border-orange-light lg:bg-orange-lighter;
            }

            &-outline {
                @apply border-orange-light bg-white text-orange-light;

                &:hover {
                    @apply lg:border-orange-light lg:bg-orange-light lg:text-white;
                }
            }
        }

        &-link {
            &::after {
                @apply relative text-24 transition-all duration-300;

                content: '›';
                top: 1px;
                left: 5px;
            }

            &:hover {
                &::after {
                    @apply left-1;
                }
            }

            &-reverse {
                margin-left: 5px;

                &::before {
                    @apply relative text-24 transition-all duration-300;

                    content: '‹';
                    top: 1px;
                    right: 5px;
                }

                &:hover {
                    &::before {
                        @apply right-1;
                    }
                }
            }
        }
    }

    .scroll {
        &-indicator,
        &-wheel {
            @apply absolute;
        }

        &-indicator {
            @apply left-1/2 -translate-x-1/2 transform;

            bottom: 33px;
        }

        &-mouse {
            @apply relative inline-block rounded-full border-[3px] border-white;

            width: 34px;
            height: 54px;
        }

        &-wheel {
            @apply rounded-full bg-white;

            top: 14px;
            left: 12px;
            width: 4px;
            height: 4px;
            animation: scroll-down 2.5s infinite;
        }
    }
}

// ========================================================================== //
//  ADDITIONAL SCSS
// ========================================================================== //

// Navigation (Toggle)
.nav-toggle {
    &-open {
        .nav-toggle-bar {
            &:first-child,
            &:last-child {
                transform-origin: 10px;
            }

            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &-bar {
        margin-bottom: 5px;
        width: 40px;
        height: 2px;
    }
}
